<script src="/node_modules/animejs/lib/anime.min.js"></script>
<div *ngIf="planets===[]">loading the stuff</div>

<div class="grid-container">
    <mat-grid-list cols="2" rowHeight="700" [@items]="planets.length">
        <mat-grid-tile *ngFor='let planet of planets' [colspan]="1" [rowspan]="1">
            <mat-card class="dashboard-card planets">
                <mat-card-header>
                    <mat-card-title>
                        {{planet.id}}
                    </mat-card-title>
                    <mat-card-subtitle>
                        {{planet.englishName}}
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content">
                    <ul>
                        <p>Data:</p>
                        <li>
                            <div><span class="data">perihelion</span><span class="adat">{{planet.perihelion}}</span></div>
                        </li>
                        <li>
                            <div><span class="data" class="data">aphelion</span><span class="adat">{{planet.aphelion}}</span></div>
                        </li>
                        <li>
                            <div><span class="data">eccentricity</span><span class="adat">{{planet.eccentricity}}</span></div>
                        </li>
                        <li>
                            <div><span class="data">inclination</span><span class="adat">{{planet.inclination}}</span></div>
                        </li>
                        <li>
                            <div><span class="data">density</span><span class="adat">{{planet.density}}</span></div>
                        </li>
                        <li>
                            <div><span class="data">gravity</span><span class="adat">{{planet.gravity}}</span></div>
                        </li>
                        <li>
                            <div><span class="data">escape</span><span class="adat">{{planet.escape}}</span></div>
                        </li>
                        <li>
                            <div><span class="data">meanRadius</span><span class="adat">{{planet.meanRadius}}</span></div>
                        </li>
                        <li>
                            <div><span class="data">equaRadius</span><span class="adat">{{planet.equaRadius}}</span></div>
                        </li>
                        <li>
                            <div><span class="data">polarRadius</span><span class="adat">{{planet.polarRadius}}</span></div>
                        </li>
                        <li>
                            <div><span class="data">flattening</span><span class="adat">{{planet.flattening}}</span></div>
                        </li>
                        <li>
                            <div><span class="data">dimension</span><span class="adat">{{planet.dimension}}</span></div>
                        </li>
                        <li>
                            <div><span class="data">sideralOrbit</span><span class="adat">{{planet.sideralOrbit}}</span></div>
                        </li>
                        <li>
                            <div><span class="data">sideralRotation</span><span class="adat">{{planet.sideralRotation}}</span></div>
                        </li>
                        <li>
                            <div><span class="data">Discovered by</span><span class="adat">{{planet.discoveredBy}}</span></div>
                        </li>
                        <li>
                            <div><span class="data">Date:</span><span class="adat">{{planet.discoveryDate}}</span></div>
                        </li>
                        <li>
                            <div><span class="data">axialTilt</span><span class="adat">{{planet.axialTilt}}</span></div>
                        </li>
                    </ul>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>