<script src="/node_modules/animejs/lib/anime.min.js"></script>
<div *ngIf="planets===[]">loading the stuff</div>

<div class="grid-container">
    <mat-grid-list cols="2" rowHeight="700" [@items]="planets.length">
        <mat-grid-tile *ngFor='let planet of planets' [colspan]="1" [rowspan]="1">
            <mat-card class="dashboard-card planets">
                <mat-card-header>
                    <mat-card-title>
                        {{planet.id}}
                    </mat-card-title>
                    <mat-card-subtitle>
                        {{planet.englishName}}
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content">
                    <ul>
                        <p id="head">Data:</p>
                        <li>
                            <div><span class="data">Perihelion:</span><span class="adat">{{planet.perihelion}}</span></div>
                        </li>
                        <li>
                            <div><span class="data" class="data">Aphelion:</span><span class="adat">{{planet.aphelion}}</span></div>
                        </li>
                        <li>
                            <div><span class="data">Eccentricity:</span><span class="adat">{{planet.eccentricity}}</span></div>
                        </li>
                        <li>
                            <div><span class="data">Inclination:</span><span class="adat">{{planet.inclination}}</span></div>
                        </li>
                        <li>
                            <div><span class="data">Density:</span><span class="adat">{{planet.density}}</span></div>
                        </li>
                        <li>
                            <div><span class="data">Gravity:</span><span class="adat">{{planet.gravity}}</span></div>
                        </li>
                        <li>
                            <div><span class="data">Escape:</span><span class="adat">{{planet.escape}}</span></div>
                        </li>
                        <li>
                            <div><span class="data">Mean radius:</span><span class="adat">{{planet.meanRadius}}</span></div>
                        </li>
                        <li>
                            <div><span class="data">Equa radius:</span><span class="adat">{{planet.equaRadius}}</span></div>
                        </li>
                        <li>
                            <div><span class="data">Polar radius:</span><span class="adat">{{planet.polarRadius}}</span></div>
                        </li>
                        <li>
                            <div><span class="data">Flattening:</span><span class="adat">{{planet.flattening}}</span></div>
                        </li>
                        <li>
                            <div><span class="data">Dimension:</span><span class="adat">{{planet.dimension}}</span></div>
                        </li>
                        <li>
                            <div><span class="data">Sideral orbit:</span><span class="adat">{{planet.sideralOrbit}}</span></div>
                        </li>
                        <li>
                            <div><span class="data">Sideral rotation:</span><span class="adat">{{planet.sideralRotation}}</span></div>
                        </li>
                        <li>
                            <div><span class="data">AxialTilt:</span><span class="adat">{{planet.axialTilt}}</span></div>
                        </li>
                        <li *ngIf="planet.discoveredBy">
                            <div><span class="data">Discovered by:</span><span class="adat">{{planet.discoveredBy}}</span></div>
                        </li>
                        <li *ngIf="planet.discoveryDate">
                            <div><span class="data">Date:</span><span class="adat">{{planet.discoveryDate}}</span></div>
                        </li>

                    </ul>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>